h1 {
    color: grey;
  }
body {
    margin: 0 auto;
    max-width: 50em;
}
body {
    font-family: 'Helvetica','Arial', sans-serif;
}

body{
    line-height: 1.5;
    padding: 4em 1em;
}
body {
    color: #555;
}
h1{
    color: #333;
}

h1 {
    position: relative;
    left: 200px;
    margin-top: 1em;
    padding-top: 1em;
}
a{
    color: blue;
}
a{
    padding: 2px 4px;
    background: #eee;
    font-family: 'Helvetica', sans-serif;
}

script{
    font-family: 'Helvetica','Arial', sans-serif;
}